@{
    ViewData["Title"] = "Home Page";
}

<section id="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="promo-title">THE BEST WEB APP FOR DATING</p>
                <p>The way to find your soulmate!</p>
            </div>
            <div class="col-md-6 text-center">
                <img src="~/images/Picture1.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
