@model IList<RinDate.Models.UserDto>


@if (Model.Any())
{
    <div class="row mt-3">
        @foreach (var item in Model)
        {
            @if (item.ImageCoverUrl != null)
            {
                <div class="col-lg-3">
                    <div class="img-thumbnail">
                        @*<button type="button" asp-controller="User" asp-action="Index" asp-route-id="@item.UserId">*@
                            <img src="@item.ImageCoverUrl" alt="image" class="img-thumbnail rounded"/>
                        @*</button>*@
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-3">
                        @*<button type="button" asp-controller="User" asp-action="Index" asp-route-id="@item.UserId">*@
                            <img src="/images/default-image.png" alt="image" class="img-thumbnail rounded"/>
                        @*</button>*@
                </div>
            }
        }
    </div>
 }
 else
 {
    <h1>Looks like here is no users!</h1>
 }

 
    
